.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 20px;
}
.elevator {
  width: 200px;
  height: 200px;
  background: #446291;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.btns {
  width: 300px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}
button {
  width: 100px;
  height: 100px;
  border-radius: 12pc;
  border: solid 2px black;
  font-size: 14pt;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  outline: none;
}
button:hover {
  background: #E5E5E5;
}
